<!doctype html>
<html lang="en">
  <head th:replace="~{layout/head.html::head}"></head>

  <body>
    <header
      class="d-flex justify-content-between align-items-center px-2 py-1 border-bottom text-white"
      style="background: linear-gradient(135deg, #06bf5f, #1e4d2b)"
    >
      <h1>
        <img src="/assets/img/FeiraGreen.jfif" alt="HubGreen" height="100" />
      </h1>
      <div style="font-size: 22px">
        HubGreen
        <br />
        <p style="font-size: 12px">
          Encontre a feira livre ou evento mais próxima de você!
        </p>
      </div>
    </header>

    <main layout:fragment="content"></main>

    <footer style="background: linear-gradient(135deg, #06bf5f, #1e4d2b)">
      <p>&copy; 2026 HubGreen - Todos os direitos reservados.</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
