* {
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.fotos-evento {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.texto-chamada {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.texto-arredondado {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
}

.carousel-container {
  max-width: 500px;
  margin: 0 auto;
}

body {
  background-color: rgb(246, 243, 215);
}

.menu-lateral {
  background-color: rgb(58, 78, 37) !important;
  opacity: 1 !important;
  min-height: 100vh;
  flex-shrink: 0;
}

.header-layout {
  background-color: rgb(218, 218, 174);
}

.logo-layout {
  width: 180px;
  height: auto;
  display: block;
}

.footer-layout {
  background-color: transparent;
  text-align: center;
  padding: 10px;
}

.footer-layout p {
  margin: 0;
}

.table-color {
  background-color: rgb(246, 243, 215);
}
.table-color th,
.table-color td {
  background-color: rgb(246, 243, 215);
}

.btn-fechar-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  opacity: 1;
  z-index: 10;
}

.btn-fechar-modal:hover {
  opacity: 0.8;
}

.color-button {
  background-color: rgb(58, 78, 37);
}
