* {
  /*Reset do CSS - limpa todas as formataçoes*/
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  box-sizing: border-box; /* Tudo que der de largura conta a borda */
}

.fotos-evento {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.texto-chamada {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.texto-arredondado {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
}

.carousel-container {
  max-width: 400px;
  margin: 0 auto;
}
