<!doctype html>
<html lang="pt-br" layout:decorate="~{layout/layout.html}">
  <head>

    <title>Página Evento</title>

  </head>
  <body>
    <main layout:>
    
    <h2 class="texto-arredondado">Feira da Cultura</h2>
    <nav>
      <a href="#evento" class="btn btn-outline-success btn-sm">Sobre a Feira</a>
      <a href="#feirantes" class="btn btn-outline-success btn-sm"
        >Feirantes participantes</a
      >
      <a href="#fotos" class="btn btn-outline-success btn-sm">Fotos</a>
    </nav>

      <section id="evento">
        <table class="table table-bordered table-striped mt-3">
          <thead>
            <tr>
              <th>Evento</th>
              <th>Data</th>
              <th>Horário</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Feira da Cultura</td>
              <td>Sabádos</td>
              <td>das 09h às 15h</td>
              <td>
                Praça da Cultura (também conhecida como Praça da Bíblia), Av. da
                Lagoa / Av. Alvin Bauer, Centro
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          É uma das mais tradicionais da cidade. Reúne grande variedade de
          artesanato feito por moradores locais, produtos de decoração, doces,
          cafés e comidas diversas. Costuma contar com apresentações de música
          ao vivo de bandas locais.
        </p>
        <br />
        <br />
      </section>
      <section id="feirantes">
        <h4 class="texto-chamada">Feirantes Participantes</h4>
        <table class="table table-bordered table-striped mt-3">
          <thead>
            <tr>
              <th>Feirante</th>
              <th>Biografia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Patelaria Oliveira</td>
              <td>Pastelaria com massa artesanal do verdadeiro pastel</td>
            </tr>
            <tr>
              <td>Caldo de cana do Roberto</td>
              <td>Puro caldo da cana caiana</td>
            </tr>
            <tr>
              <td>Queijos serrano</td>
              <td>Tradicional queijo serrano do Planalto Sul Catarinense</td>
            </tr>
            <tr>
              <td>Embutidos coloniais</td>
              <td>
                Produtos artesanais suínos, como salames, linguiças e copas
              </td>
            </tr>
            <tr>
              <td>Chopp artesanal do Bigode</td>
              <td>O verdadeiro chopp artesanal espuma no bigode</td>
            </tr>
            <tr>
              <td>Bordados pé de pano</td>
              <td>Bordados em lã natural</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="fotos">
        <h4 class="texto-chamada">Fotos do Evento</h4>
        <div id="carouselFotos" class="carousel slide bg-body-secondary">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/assets/img/Foto1.jpg"
                class="d-block mx-auto fotos-evento"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/assets/img/Foto2.jpg"
                class="d-block mx-auto fotos-evento"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/assets/img/Foto3.jpg"
                class="d-block mx-auto fotos-evento"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/assets/img/Foto4.jpg"
                class="d-block mx-auto fotos-evento"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselFotos"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselFotos"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    </main>    

  </body>
</html>
