<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Luiz Felipe Silveira</td>
      <td>luiz.silveira@udesc.br</td>
      <td>
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-danger">
          <i class="bi bi-x"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>Luiz Felipe Silveira</td>
      <td>luiz.silveira@udesc.br</td>
      <td>
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-danger">
          <i class="bi bi-x"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>Luiz Felipe Silveira</td>
      <td>luiz.silveira@udesc.br</td>
      <td>
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-danger">
          <i class="bi bi-x"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>Luiz Felipe Silveira</td>
      <td>luiz.silveira@udesc.br</td>
      <td>
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-danger">
          <i class="bi bi-x"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>Luiz Felipe Silveira</td>
      <td>luiz.silveira@udesc.br</td>
      <td>
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-danger">
          <i class="bi bi-x"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>Luiz Felipe Silveira</td>
      <td>luiz.silveira@udesc.br</td>
      <td>
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-danger">
          <i class="bi bi-x"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>Luiz Felipe Silveira</td>
      <td>luiz.silveira@udesc.br</td>
      <td>
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-danger">
          <i class="bi bi-x"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
