<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <header class="border-bottom mb-5 p-3 bg-success text-white">
        <h1 class="">HubGreen</h1>
    </header>
    <main class="p-3 pt-0">
        <section id="profile" class="d-flex">
            <img src="../static/img/profile-picture.png" alt="profile-picture" id="profile-picture"
                class="rounded-circle" style="width: 150px; object-fit: cover;">
            <div>
                <h2>Name</h2>
                <article>
                    <p>Write your biography here</p>
                </article>
            </div>
        </section>
        <hr>
        <section class="d-flex d-grid gap-2">
            <div id="products" class="col-6 card p-3 mb-0">
                <h3 class="text-center">Products</h3>
                <ul class="p-0">
                    <li class="card d-flex flex-row mb-2 gap-2">
                        <img src="../static/img/no_image.jpg" alt="product-img" style="width: 200px;">
                        <div class="d-flex flex-column justify-content-between">
                            <h4>Product </h4>
                            <p>Description</p>
                            <p>R$ 9,90</p>
                        </div>
                    </li>
                    <li class="card d-flex flex-row mb-2 gap-2">
                        <img src="../static/img/no_image.jpg" alt="product-img" style="width: 200px;">
                        <div class="d-flex flex-column justify-content-between">
                            <h4>Product </h4>
                            <p>Description</p>
                            <p>R$ 9,90</p>
                        </div>
                    </li>
                    <li class="card d-flex flex-row mb-2 gap-2">
                        <img src="../static/img/no_image.jpg" alt="product-img" style="width: 200px;">
                        <div class="d-flex flex-column justify-content-between">
                            <h4>Product </h4>
                            <p>Description</p>
                            <p>R$ 9,90</p>
                        </div>
                    </li>

                </ul>
                <p class="text-center"> See More</p>
            </div>

            <div id="events" class="col-6 card p-3 mb-0">
                <h3 class="text-center">Events</h3>
                <ul class="p-0">

                    <a href="#" class="text-decoration-none">
                        <li class="card d-flex flex-row mb-2 gap-2">
                            <img src="../static/img/no_image.jpg" alt="event-img" style="width: 200px;">
                            <div class="d-flex flex-column justify-content-between">
                                <h4>Event </h4>
                                <p>Description</p>
                                <p>See More</p>
                            </div>
                        </li>
                    </a>

                    <a href="#" class="text-decoration-none">
                        <li class="card d-flex flex-row mb-2 gap-2">
                            <img src="../static/img/no_image.jpg" alt="event-img" style="width: 200px;">
                            <div class="d-flex flex-column justify-content-between">
                                <h4>Event </h4>
                                <p>Description</p>
                                <p>See More</p>
                            </div>
                        </li>
                    </a>

                    <a href="#" class="text-decoration-none">
                        <li class="card d-flex flex-row mb-2 gap-2">
                            <img src="../static/img/no_image.jpg" alt="event-img" style="width: 200px;">
                            <div class="d-flex flex-column justify-content-between">
                                <h4>Event</h4>
                                <p>Description</p>
                                <p>See More</p>
                            </div>
                        </li>
                    </a>

                </ul>
                <p class="text-center">See more</p>
            </div>
        </section>
    </main>
    
</body>

</html>